*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:#f4f4f4;
    font-family:Arial, sans-serif;
}
a{
    text-decoration:none;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#333;
    padding:20px;
}
.menu{
    display:flex;
    list-style:none;
    gap:25px;
}
.menu a{
    color:white;
    text-decoration:none;
}