*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    position: relative;
    font-size: 100px;
}

.cart{
    font-size: larger;
}
.badge{
    position: absolute;
    top: 0;
    right: 0;

    background-color: red;
    color: white;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
}