*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Source Sans Pro;
    background-color: rgb(242,245,247);
}
a{
    text-decoration: none;
}
.head{
    background-color: rgb(7,26,49);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > img{
    width: 90px;
    height: 45px;
    margin: 5px 25px;
}
.navOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    gap: 20px;

}
svg{
    color: white;
    width: 50px;
    height: 20px;
}
.speaker{
    width: 60px;
    height: 30px;
}
.navsla{
    width: 25px;
    height: 25px;
    border-radius: 100px;
}
.navTwo{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px ;
}
.courseh2{
    margin: 5px 20px; 
}
.button{
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 8px;
    border-style: none;
    border-radius: 6px;
    margin-right: 20px;
    
}
.section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.cardOne{
    background-color: white;
    width: 275px;
    height: 280px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: -1px 2px 16px 0px;
    position: relative;
    
}
.cardimg > img{
    width: 250px;
    height: 153px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardimg > p{
    display: block;
    font-size: small;
    font-weight: 600;
    margin: 20px 20px;
}
.bottom{
    width: 100%;
}
.bottom > svg {
    
    color: red;
    display: inline-flex;
    width: 25px;
    height: 15px;
    margin-left: 10px;
   
}
.bottom > span{
    font-size: small;
}
.dot > svg{
    color: black;
    display: inline-flex;
    width: 25px;
    height: 15px;
    margin-left: 50px;
}
.cardOne:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.cardOne::after{
    content: "✓ Published";
    position: absolute;
    background-color: white;
    color: rgb(8, 126, 53);
    padding: 0px 8px;
    text-align: center;
    border-radius: 20px;
    width: 90px;
    right: 53px;
    bottom: 125px;
}