*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.dept{
        background-color:red;
        width: max-content;
        height: max-content;
        color: black;
        text-align: center;
        margin: auto;
    }

#cse{
    background-color: blue;
    width: 450px;
    text-align: center;
    margin: auto;
}

#it{
    background-color: green;
    width: 400px;
    text-align: center;
    margin: auto;
}

#ece{
    background-color: yellow;
    width: 550px;
    text-align: center;
    margin: auto;
}

#eee{
    background-color: indigo;
    width: 550px;
    text-align: center;
    margin: auto;
}

#mech{
    background-color: orange;
    width: 400px;
    text-align: center;
    margin: auto;
}
p{
    background-color: plum;
}