.product-card {
  width: 250px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-card p {
  font-size: 20px;
  font-weight: bold;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}